/* CATALOGO */

.recipe-catalog {
  padding-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.65rem;
  margin-bottom: 0.75rem;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--grey);
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.card h2 {
  color: var(--black);
  margin-bottom: 0;
  font-size: 1.2rem;
}

.card-data {
  display: flex;
  justify-content: space-around;
}


@media screen and (min-width: 576px) {

  .card {
    margin: 0;
  }

}
