/* RECETA */

.recipe-presentation figure {
  margin-bottom: 0.5rem;
}

.recipe-section ul {
  margin-left: 1rem;
}

.recipe-data {
  display: flex;
  gap: 2rem;
}

.recipe-section iframe {
  max-height: 250px;
}


@media screen and (min-width: 576px) {
  
  .recipe {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .recipe-presentation figure {
    float: right;
    width: 50%;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .recipe-section {
    clear: both;
  }

  .recipe-section iframe {
    max-width: 80%;
    max-height: 350px;
  }

}

@media screen and (min-width: 768px) {

  /* RECETA */
  .recipe {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .recipe-presentation figure {
    width: 40%;
  }

  .recipe-section iframe {
    max-width: 70%;
  }

}


@media screen and (min-width: 992px) {

  .recipe-presentation figure {
    float: none;
    width: 35%;
    margin-left: 5%;
  }

  .recipe-presentation {
    display: flex;
    flex-direction: row-reverse;
  }

  .recipe-presentation>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .recipe-section iframe {
    max-width: 50%;
    max-height: none;
  }

}

@media screen and (min-width: 1200px) {

  .recipe {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}