:root {
  --body-color: #f1f2ed;
  --primary-color: #5b8fbc;
  --secondary-color: #2c3e50;
  --main-section: #cdcdcd;
  --white: #ffffff;
  --grey: #646464; 
  --black: #000000; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}

h1 {
  color: var(--white);
  font-size: 1.75rem;
}

h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

figure {
  line-height: 0;
  aspect-ratio: 4/3;
}

img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover; 
  height: 100%;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
}

p {
  margin-bottom: 0.5rem;
  text-align: justify;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: 0.9rem;
}

input, select {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: none;
}

body > header {
  background-color: var(--primary-color);
  height: 3.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px var(--secondary-color);
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu {
  color: var(--white);
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}

nav {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  top: 3.5rem;
  left: 0;
  width: 100%;
  padding: 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px var(--secondary-color);
  /* scale: 0;
  transform-origin: top right;
  transition: scale 0.3s ease-in-out, display 0.3s;
  transition-behavior: allow-discrete; */
}

.nav-open {
  display: block;
  /* scale: 1;

  @starting-style {
    scale: 0;
  } */
}

nav a {
  display: block;
  text-align: center;
  color: var(--white);
  padding: 0.6rem 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--secondary-color);
}

nav ul {
  list-style: none;
}

footer {
  color: var(--white);
  background-color: var(--secondary-color);
}

footer p {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 1rem 0.75rem;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
}

.btn-success {
  background-color: #2ecc71;
}

.btn-success:hover {
  background-color: #27ae60;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.btn-cancel:hover {
  background-color: #bbb;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.transition-none {
  transition: none;
}

.display-none {
  display: none;
}

/* GRILLAS Y FORMULARIOS */
.recipe-catalog, .filters, #data-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}


@media screen and (min-width: 576px) {
  .toggle-menu {
    display: none;
  }

  nav {
    display: block;
    position: static;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    scale: 1;
  }

  nav ul {
    display: flex;
    gap: 2rem;
  }

  nav a {
    padding: 0.5rem;
  }

  /* GRILLAS Y FORMULARIOS */
  .recipe-catalog, .filters, #data-form {
    grid-template-columns: 1fr 1fr;
  }

}


@media screen and (min-width: 768px) {
  /* GRILLAS Y FORMULARIOS */

  .recipe-catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.85rem;
  }

}


@media screen and (min-width: 992px) {
  /* GRILLAS Y FORMULARIOS */

  .recipe-catalog, .filters {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

}
